<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My beautiful page</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymou

  <link rel="stylesheet" type="text/css" href="footer.css" />



</head>
<body>

  <header>

    <nav>
          <div class="container">
            <div class="logo">
              <image class="logopic" src="https://s3.ap-south-1.amazonaws.com/crypto-exchange/coins-sm/ether.png" alt="Smiling woman with purple hair">
            </div>

            <div class="avatar">
              <div class="profile">
                <image class="profile-pic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCvbI_jnOKGxKZFAKdcVR_X2n_wvhIALUTYPSGPKkxZk6ircNSCw" alt="Smiling woman with purple hair">
              </div>

          </div>
          <ul>
            <li><a href="https://media.giphy.com/media/pz1s2IpdQh86k/giphy.gif">News</a></li>
            <li><a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOPGQ5h-N01gHziX82Eqb32wSpXP1c5a5RyuxZB2jQVqx8F_VdhQ">About</a></li>
            <li><a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQnPhGCEB7d0jP0QY1NuCb7-pGIrRSjH61F5lP-ZF3qP7cX4Q0wA">Contact</a></li>
          </ul>
        </nav>

  </header>
<br></br>



  <div class="banner">
  <div class="banner-text">
    <h1>Bienvenue dans notre univers!</h1>
    <h3>안녕하세요!</h3>
    <h6>환영하는 친구</h6>
  </div>
</div>




  <center><h2 id="demo11">THE ITINERARY OF MY TOUR OF THE WORLD</h2></center>
<br></br>
    <div class ="text">

  <p>I tend to be very disappointed when I come across a site around the world and the route was not defined in advance, preventing me from dreaming and imagining what would be done trip and this blog. Unfortunately, I'm going to have to fall into the same trap and disappoint some of you ...</p><br>

  <p>The itinerary of a world tour is the first thing you think about. We take a piece of paper and we start to make a long list of all the countries that we would like to include on this tour. It's time to let go and list all our desires. Generally, the list is long, too long. Especially when you have not traveled so much before! It must then be reduced rationally (or not) according to several constraints: budget (and therefore choice of more or less expensive countries), seasons, visas, duration of travel, tickets around the world, etc. </p><br>
  <p>Other factors can be taken into account if you have a thematic trip, if you want to attend a particular event or festival (carnival in Brazil, flowering cherry trees in Japan, football world cup or anything other) or if you want to meet friends on the road. In other words, the factors and constraints are numerous and the development of a route is a long-term task.

  <div id="wrapper">
    <section>
        <div class="btn-container">
            <input type="submit" value="Voir la suite" id="button-blue"/>
            <div class="ease"></div>
        </div>
    </section>
  </div><!-- wrapper -->

</div>

  <div class="card">

  <div class="hover11 column">
    <div>
      <figure><img src="https://nxworld.net/example/css-image-hover-effects/pic01.jpg" /></figure>
      <span>Hello</span>
    </div>
    <div>
      <figure><img src="https://nxworld.net/example/css-image-hover-effects/pic02.jpg" /></figure>
      <span>How</span>
    </div>
    <div>
      <figure><img src="https://nxworld.net/example/css-image-hover-effects/pic03.jpg" /></figure>
      <span>are</span>
    </div>
    <div>
      <figure><img src="https://nxworld.net/example/css-image-hover-effects/pic01.jpg" /></figure>
      <span>you</span>
    </div>
  </div>

</div>

  <center><p>TO BE CONTINUED...</p></center>

  <br></br>

  <footer>
    <ul>
      <li>
        <a href="https://www.facebook.com/">
          <i class="fab fa-facebook-f"></i> Facebook
        </a>
      </li>
      <li>
        <a href="https://fr.linkedin.com/">
          <i class="fab fa-linkedin-in"></i> Linkedin
        </a>
      </li>
      <li>
        <a href="https://twitter.com/?lang=fr">
          <i class="fab fa-twitter"></i> Twitter
        </a>
      </li>
    </ul>
  </footer>
<br></br>

</body>
</html>
